.footer__wrap
    .footer__section
        .footer__top
            .footer-top__col
                    ul.menu.footer-menu
                        li.footer-menu__item
                            a.footer-menu__link(href="/my-works.html") Мои работы
                        li.footer-menu__item
                            a.footer-menu__link(href="/about.html") Обо мне
                        li.footer-menu__item
                            a.footer-menu__link(href="/blog.html") Блог
                        li.footer-menu__item
                            a.footer-menu__link(href="/index.html") Авторизация
            .footer-top__col
                include ../common/_socials_footer
    .footer__section
        .footer__bot
            .footer-bot__left
                p.footer_text Я веб-разработчик из Калинингада, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer-bot__right    
                p.footer_text &#169 Александр Никулин | создано с любовью в LoftSchool | 2018
