.preloader#page-preloader
    .loader
    span#loader_perc 0%
    
    //- img.preloader-img(src="assets/images/preloader/mount_preloader.gif", alt="preloader")
    
        //- img.about__foto(src="assets/images/about/mount_preloader.gif", alt="foto")

        //- svg.svg-loader(width="45px" height="30px")
        //-     //- use(xlink:href="assets/images/preloader/preloader_round.svg")
        //-     use(xlink:href="assets/images/icons/sprite.svg#preloader_round")
