ul.socials__list
    li.footer-socials__item: a.footer-socials__link(href="#")
        svg.footer-socials__link-icon(width="25" height="25")
            use(xlink:href="assets/images/icons/sprite.svg#vk")
    li.footer-socials__item: a.footer-socials__link(href="#")
        svg.footer-socials__link-icon(width="25" height="25")
            use(xlink:href="assets/images/icons/sprite.svg#github")
    li.footer-socials__item: a.footer-socials__link(href="#")
        svg.footer-socials__link-icon(width="25" height="25")
            use(xlink:href="assets/images/icons/sprite.svg#in")
