extends ../template

block variables
    - var title = 'Блог'

block content
    .wrapper
        .maincontent
            section.section.hero.blog-section
                .socials
                    include ../common/_socials
                .hamburger
                    a.hamburger__link.hero__menu(href="#")
                        .hamburger__bars
                .user.blog-user
                    ul.blog__list
                        li.blog__item.blog__item_img
                        li.blog__item.blog__item_img
                            .user__img(style='background-image:url(assets/images/about/avatar.jpg)')
                                img.visuallyhidden(src='assets/images/about/avatar.jpg', alt='один')
                        li.blog__itemblog__discription
                            .blog__name 
                                .block__title Блог
                                svg.blog__icon
                                    use(xlink:href="assets/images/icons/sprite.svg#blog_header")

                            .user__info 
                                span Статьи, которые я написал


                .traingle
                    svg.traingle-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
                        polygon.traingle-svg__left.traingle-svg__blog(points='0,0   0,86   500.8,86   500.8,75.5')
                        polygon.traingle-svg__right.traingle-svg__blog(points='1000,0   1000,86   500,86   500,75.5')
            section.section.blog
                
                sidebar.blog__left
                    ul.blog__title
                        li.blog-title__item.active(data-scroll-to="sass")
                            a.blog-title__link(href="#") Самое важное в SASS
                        li.blog-title__item(data-scroll-to="layout")
                            a.blog-title__link(href="#") Приемы в верстке без которых не обходится ни один сайт
                        li.blog-title__item(data-scroll-to="gulp")
                            a.blog-title__link(href="#") Самый необходимый набор Gulp плагинов
                        li.blog-title__item(data-scroll-to="pug")
                            a.blog-title__link(href="#") Почему я выбрав Jade

                main.blog__right
                    ul.blog__article
                            li.blog-article__item
                                .blog-article__main
                                    .blog-article__title 
                                        .block__sub-title_blog Самое важное в SASS
                                    .blog-article__data 22 ноября 2016
                                    .blog-article__content 
                                        p
                                            |   Таким образом начало повседневной работы по формированию позиции позволяет
                                            |   выполнять важные задания по разработке направлений прогрессивного развития.
                                            |   Разнообразный и богатый опыт новая модель организационной деятельности играет
                                            |   важную роль в формировании новых предложений. Товарищи! новая модель организационной
                                            |   деятельности играет важную роль в формировании систем массового участия.
                                            |   Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                            |   (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                            |   порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
                                            |   в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                                            |   количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                            |   С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы
                                            |   обучения кадров, соответствует насущным потребностям.

                                        .blog-fragment
                                            table.table_blog    
                                                tr
                                                    td 1
                                                    td 
                                                        span.str-one // присвоить
                                                tr
                                                    td 2
                                                    td  
                                                        span $(document).data(
                                                        span.str-green 'prop'
                                                        span , {anuthing:
                                                        span "люблй объект"})
                                                        span.str-green "люблй объект"
                                                        span })
                                                tr
                                                    td 3
                                                    td 
                                                tr
                                                    td 4 
                                                    td 
                                                        span.str-one // прочитать   
                                                tr                                        
                                                    td 5 
                                                    td 
                                                        span alert( $(document).data(
                                                        span.str-green 'prop'
                                                        span ).anuthing)
                                                        span.str-one // люблй объект 
                                .blog__line

                            li.blog-article__item
                                .blog-article__main
                                    .blog-article__title 
                                        .block__sub-title_blog Приемы верстки без которых не обходится ни один сайт
                                    .blog-article__data 13 ноября 2016
                                    .blog-article__content 
                                        p
                                            |   Таким образом начало повседневной работы по формированию позиции позволяет
                                            |   выполнять важные задания по разработке направлений прогрессивного развития.
                                            |   Разнообразный и богатый опыт новая модель организационной деятельности играет
                                            |   важную роль в формировании новых предложений. Товарищи! новая модель организационной
                                            |   деятельности играет важную роль в формировании систем массового участия.
                                            |   Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                            |   (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                            |   порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
                                            |   в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                                            |   количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                            |   С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы
                                            |   обучения кадров, соответствует насущным потребностям.

                                .blog__line

                            li.blog-article__item
                                .blog-article__main
                                    .blog-article__title 
                                        .block__sub-title_blog Приемы верстки без которых не обходится ни один сайт
                                    .blog-article__data 13 ноября 2016
                                    .blog-article__content 
                                        p
                                            |   Таким образом начало повседневной работы по формированию позиции позволяет
                                            |   выполнять важные задания по разработке направлений прогрессивного развития.
                                            |   Разнообразный и богатый опыт новая модель организационной деятельности играет
                                            |   важную роль в формировании новых предложений. Товарищи! новая модель организационной
                                            |   деятельности играет важную роль в формировании систем массового участия.
                                            |   Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                            |   (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                            |   порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
                                            |   в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                                            |   количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                            |   С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы
                                            |   обучения кадров, соответствует насущным потребностям.

                                .blog__line
                                    
                            li.blog-article__item
                                    .blog-article__main
                                        .blog-article__title 
                                            .block__sub-title_blog Самое важное в SASS
                                        .blog-article__data 22 ноября 2016
                                        .blog-article__content 
                                            p
                                                |   Таким образом начало повседневной работы по формированию позиции позволяет
                                                |   выполнять важные задания по разработке направлений прогрессивного развития.
                                                |   Разнообразный и богатый опыт новая модель организационной деятельности играет
                                                |   важную роль в формировании новых предложений. Товарищи! новая модель организационной
                                                |   деятельности играет важную роль в формировании систем массового участия.
                                                |   Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                                |   (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                                |   порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
                                                |   в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный
                                                |   количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                                |   С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы
                                                |   обучения кадров, соответствует насущным потребностям.

                                            .blog-fragment
                                                table.table_blog    
                                                    tr
                                                        td 1
                                                        td 
                                                            span.str-one // присвоить
                                                    tr
                                                        td 2
                                                        td  
                                                            span $(document).data(
                                                            span.str-green 'prop'
                                                            span , {anuthing:
                                                            span "люблй объект"})
                                                            span.str-green "люблй объект"
                                                            span })
                                                    tr
                                                        td 3
                                                        td 
                                                    tr
                                                        td 4 
                                                        td 
                                                            span.str-one // прочитать   
                                                    tr                                        
                                                        td 5 
                                                        td 
                                                            span alert( $(document).data(
                                                            span.str-green 'prop'
                                                            span ).anuthing)
                                                            span.str-one // люблй объект 
                                    .blog__line
        footer
            include ../common/_footer
        include ../common/_fullscreenmenu
        .blog-swipe__menu
                    ul.blog-swipe__list
                        li.blog-swipe__item.blog-swipe__item_active(data-scroll-to="sass")
                            a.blog-swipe__link(href="#") Самое важное в SASS
                        li.blog-swipe__item(data-scroll-to="layout")
                            a.blog-swipe__link(href="#") Приемы в верстке без которых не обходится ни один сайт
                        li.blog-swipe__item(data-scroll-to="gulp")
                            a.blog-swipe__link(href="#") Самый необходимый набор Gulp плагинов
                        li.blog-swipe__item(data-scroll-to="pug")
                            a.blog-swipe__link(href="#") Почему я выбрав Jade
                    a.blog__swipe__btn(href="#")




                                      

