extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .wrapper
        .maincontent
            .section.main
                .main_img
                    img.main_img(src="assets/images/index/main_bg.png", alt="фон")
                    label(for="autorization")
                        input#autorization(name="autorization" type="submit" value="Авторизация")
                    
                //- .user.index-section.flip
                    //- .main_user.main_info.front
                    //-     include ../common/_user
                    //-     include ../common/_socials
                    //-     include ../common/menu
                    //- .main_user.main_order.back 
                    //-     .block__sub-title.order__title Авторизуйтесь
                    //-     form#order-form.order__form-tag
                    //-         .order__form
                    //-             .order__input
                    //-                 .order__input-block
                    //-                     .order__input-img
                    //-                         svg.input__icon(width="20px", height="20px")
                    //-                             use(xlink:href="assets/images/icons/sprite.svg#login")
                    //-                     label.order__elem
                    //-                         input.order__form-input.order__form-input_login(type='text', name='user-name', placeholder='Логин')
                    //-                 .order__input-block
                    //-                     .order__input-img
                    //-                         svg.input__icon(width="20px", height="20px")
                    //-                             use(xlink:href="assets/images/icons/sprite.svg#password")
                    //-                     label.order__elem
                    //-                         input.order__form-input.order__form-input_password(type='text', name='password' placeholder='Пароль')

                    //-             .order__form-hum
                    //-                 label.order__radio.order__radio_checkbox
                    //-                     input.order__radio-elem(name='callback', type='checkbox')
                    //-                     .order__radio-fake
                    //-                         svg.check__icon(width="15px", height="15px")
                    //-                             use(xlink:href="assets/images/icons/sprite.svg#check")

                    //-                     .order__radio-title Я человек


                    //-             .order__form-radio
                    //-                 .order__ques-title Вы точно не робот?
                    //-                 .order__radio-wrap
                    //-                     label.order__radio
                    //-                         input.order__radio-elem(name='var_radio', type='radio')
                    //-                         .order__radio-fake.order__radio-fake_round
                    //-                         .order__radio-title Да
                    //-                     label.order__radio
                    //-                         input.order__radio-elem(name='var_radio', type='radio')
                    //-                         .order__radio-fake.order__radio-fake_round
                    //-                         .order__radio-title Не уверен
                    //-             .order__form-button
                    //-                 input.order__form-button.order__form-button_main(name='#', type='submit', value='На главную')
                    //-                 input.order__form-button.order__form-button_in(name='#', type='submit', value='Войти')
                //- .flip-container 
                //-     .flipper
                //-         .front фронт
                //-         .back  задняя сторона
                .user
                    .flip
                        .front
                            .main_user
                                include ../common/_user
                                .main_socials
                                    include ../common/_socials
                                include ../common/menu

                        .back
                            .main_user.main_order
                                .block__sub-title.order__title Авторизуйтесь
                                form#order-form.order__form-tag
                                .order__form
                                    .order__input
                                        .order__input-block
                                            .order__input-img
                                                svg.input__icon(width="20px", height="20px")
                                                    use(xlink:href="assets/images/icons/sprite.svg#login")
                                            label.order__elem
                                                input.order__form-input.order__form-input_login(type='text', name='user-name', placeholder='Логин')
                                        .order__input-block
                                            .order__input-img
                                                svg.input__icon(width="20px", height="20px")
                                                    use(xlink:href="assets/images/icons/sprite.svg#password")
                                            label.order__elem
                                                input.order__form-input.order__form-input_password(type='text', name='password' placeholder='Пароль')

                                    .order__form-hum
                                        label.order__radio.order__radio_checkbox
                                            input.order__radio-elem(name='callback', type='checkbox')
                                            .order__radio-fake
                                                svg.check__icon(width="15px", height="15px")
                                                    use(xlink:href="assets/images/icons/sprite.svg#check")

                                            .order__radio-title Я человек


                                    .order__form-radio
                                        .order__ques-title Вы точно не робот?
                                        .order__radio-wrap
                                            label.order__radio
                                                input.order__radio-elem(name='var_radio', type='radio')
                                                .order__radio-fake.order__radio-fake_round
                                                .order__radio-title Да
                                            label.order__radio
                                                input.order__radio-elem(name='var_radio', type='radio')
                                                .order__radio-fake.order__radio-fake_round
                                                .order__radio-title Не уверен
                                    .order__form-button
                                        input.order__button.order__form-button_main(name='#', type='submit', value='На главную')
                                        input.order__button.order__form-button_in(name='#', type='submit', value='Войти')


                

                .copir &#169 Александр Никулин | создано с любовью в Loftschool | 2018
                    
                //- h1 Главная
                //- form
                //-     label(for="email") email
                //-     input(name="email" id="email")
                //-     label(for="password") password
                //-     input(name="password" id="password")
                //-     button Войти