extends ../template

block variables
    - var title = 'Обо мне'

block content
    .wrapper
        .maincontent
            section.section.hero
                include ../common/_parallax
