
// секция слайдер

.slider {
    height: 100%;
    margin-bottom: rem(50px);
}

.traingle-svg__work-fill {
    fill: #faf8f0;
}

// секция slider

.slider__title {
    height: rem(160px);
    background: #faf8f0;
    display: flex;
    align-items: center;
}

.slider__title-wrap {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

// .slider__title-discr {
//     @include bernier;
//     font-size: rem(63px);
//     letter-spacing: rem(3px);
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 rem(20px);
//     line-height: 1.05;
//     color: $grey;
// }

.slider__title-icon {
    width: 100%;
    height: 150px;
    position: absolute;
    opacity: .07;
    fill: #6d7070;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// main

.slider__main {
    width: 100%;;
    height: 750px;
    display: block;
    @include tablets {
        height: rem(1030px);
    }
    @include phones {
        height: rem(570px);
    }

}

.slider__comtainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    @include tablets {
        flex-wrap: nowrap;
    }
}

// левая часть
.slider__go {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0efe9;
    // text-align: center;
    @include tablets {
        width: 100%;
        height: 30%;
    }

}
.slider__go-container {
    width: 70%;
    // height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.slider-go__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.slider-go__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: rem(40px);
    @include phones {
        margin-bottom: rem(20px);
    }
}

.title-sub-main_slider-go {
    @include tablets {
        font-size: rem(30px);
    }
    @include phones {
        font-size: rem(21px);
    }

}

.slider-go__instruments {
    color: $green;
    text-transform: uppercase;
    padding: rem(20px) 0;
    width: 80%;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    text-align: center;
    margin-bottom: rem(40px);
    @include phones {
        padding: rem(5px) 0;
        margin-bottom: rem(20px);
    }

    
}


// кнопка
.slider-go__link {
    display: block;
    width: rem(200px);
    height: rem(46px);
    border-radius: 5px;
    background: $green;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: darken($green,6%);
        transition: .4s;
    }
    @include phones {
        height: rem(40px);
        width: rem(185px);
      
    }

}

.svg-link {
    fill: $white;
    margin-right: 10px;
}


// правая часть
.slider-demo__main {
    width: 50%;
    height: 70%;
    background: #efebe0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets {
        width: 100%;
        height: 47%;
        order: -1;
    }

}

.slider-demo__img {
    // display: block;
    max-width: 90%;
    max-height: 80%;
    width: 60%;
    height: auto;
    margin: 0 auto;
    box-shadow: 4px 18px 22px -15px rgba(0,0,0,.87);
    // overflow: hidden;
    @include tablets {
        width: 45%;
    }

}

 .slider-demo__control {
    width: 50%;
    height: 30%;
    display: flex;
    @include tablets {
        width: 100%;
        height: 23%;
    }

}

.slider-demo__control-prev,
.slider-demo__control-next {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(182, 180, 174, 0.7); 
    }
}

.slider-demo__img {
    @include tablets {
        width: 41%;
    }

}
.slider-demo__control-next {
    &::after {
        background-color: rgba(136, 131, 114, 0.5);
    }
}


.slider-demo__link {
    display: block;
    width: rem(45px);
    height: rem(30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.svg-slider-arrow {
    width: rem(45px);
    height: rem(30px);
    fill: $white;
    opacity: .6;
    transition: opasity .3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16);
    &:hover {
        opacity: 1;
        transition: .5s;
        transform: scale(1.2, 1.2);
    }
}

.feedback {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./../images/my-works/feedback_bg.png") center center no-repeat;
    background-size: cover;
    min-width: 900px;
    // position: relative;
}

// .feedback__bg {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -1;
//     min-width: 900px;

     
//     // width: 100%;
//     // height: 100%;
// }

// .feedback__foto {
//     height: auto;
//     width: 100%;
//     max-width: 100%;
//     overflow: hidden;
//     min-width: 900px;
    
// }

// .feedback-contaner{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.feedback__header{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: rem(40px);
    max-width: 95%;
}

.feedback-header__title {
    text-align: center;
    max-width: rem(560px);
}

.feedback__title-icon {
    width: 135%;
    height: 170px;
    position: absolute;
    opacity: .07;
    fill: #6e7171;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include tablets {
        width: 95%;
    }
}

.feedback-contaner {
    width: 60%;
    margin-bottom: rem(60px);
    @include tablets {
        width: 95%;
    }

}

.feedback-content {
    display: flex;
    flex-wrap: wrap;
    @include phones {
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

.feedback-content__item {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    @include phones {
        margin-bottom: rem(28px);
    }

}

.feedback-content__contaner {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-content__icon {
    margin-bottom: rem(10px);
    @include phones {
        text-align: center;
    }

}

.fas.fa-quote-left.fa-2x {
    color: $grey;
    opacity: .2;
}

.feedback-content__text {
    margin-bottom: rem(20px);
}

.feedback-content__autor {
    display: flex;
    align-items: center;    
}

.feedback-content__name-icon{
    margin-right: rem(24px); 
}

.feedback__img {
    width: rem(78px);
    height: rem(78px);
    background-repeat: no-repeat;
    background-size: 100% auto;
    // @include cover;
    border-radius: 50%;
}

.feedback-content__name-desc {
    color: $green;
}

.feedback-content__name-avatar {
    @include roboto(bold);
}

 
//форма

.feedback-form {
    margin-bottom: rem(70px);
}

.feedback-form__contaner {
    width: rem(380px);
    height: rem(400px); //временно
    // background-color: $white;
    position: relative;
    border-radius: 6px; 
    overflow: hidden;   
}

.connect__blured {
    position: absolute;
    background: url("./../images/my-works/feedback_bg.png") center center no-repeat;
    top: 0;
    left: 0;
    filter: blur(20px);
    // z-index: 0;
    width: 100%;
    height: 100%;
    background-size: 1264px;
    background-position: (-443px -393px);
}

.connect__form {
    z-index: 10;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connect__title {
    margin: rem(30px) auto;
}


.connect__input-block {
    width: 88%;
    margin: 0 auto;
}

.connect__form-input {
    width: 100%;
    padding: 16px 0 16px 18px;
    background-color: #fff;
    margin-bottom: rem(16px);
    border: none;
    border-radius: 7px;
}
.connect__form-input_textarea {
    height: rem(140px);
    resize: none;

}

.feedback__scroll-btn {
    margin-bottom: rem(70px);
    @include phones {
    margin-bottom: rem(50px);
    }

}

