.parallax-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
    z-index: -10;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.parallax-image {
    position: absolute;
    width: 108%;
    height: 100%;
    left: -4%; 
    bottom: 0;
}

.parallax-image__layer06 {
    top: 22%;
}

.parallax-image__layer05 {
    top: 25%;
}


.parallax-image__layer04 {
    top: 25%;
}

.parallax-image__layer03 {
    top: 28%;
}


.parallax-image__layer02 {
    top: 60%;
}

.parallax-image__layer01 {
    top: 28%;
}


// .parallax-image__layer07 {
//     width: 18%;
//     height: 16%;
//     left: 68%;
//     top: 25%;
// }

// .parallax-image__layer04 {
//     width: 23%;
//     height: 18%;
//     left: 34%;
//     top: 38%;
// }

// .parallax-image__layer011 {
//     width: 75%;
//     height: 28%;
//     left: -10%;
//     top: 60%;
// }
