.skills-list {
    display: flex;
    flex-direction: column;
    @include tablets {

    }

    // align-items: center;
    // justify-content: flex-start;
}

.skills-row__list {
    display: flex;
    flex-flow: row wrap;
    @include tablets {
        justify-content: center;
    }
}


.skills-row__title {
    @include roboto('bold');
    font-size: rem(28px);
    @include tablets {
        text-align: center;
         font-size: rem(21px);
    }

    @include phones {
        font-size: rem(21px);
    }

}

.skills-list__item{
    margin-bottom: rem(10px);
}

.skills-row__title {
    margin-bottom: rem(10px);
}

.skills-row__item {
    margin-right: 20px;
}

.circles {
    fill: none;
    stroke-width: 15;
    width: 120px;
    height: 12Opx;
}

.circle__first {
    stroke: #dfdcd5;
}

.circle__second {
    stroke: #1bb696;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
}

.skill {
    position: relative;
    display: inline-block;
    // border: 1px solid #ccc;
    width: 120px;
    height: 120px;
}

.skill__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    @include roboto(bold);
    color: #1bb696;
    font-weight: bold;
}

.circles {
    &.active .circle-0 {
        stroke-dasharray: .001 282.6;
    } 
}

// .circles:hover .circle-0 {
//     stroke-dasharray: .001 282.6;
// }

.circles {
    &.active .circle-5 {
        stroke-dasharray: 14.13 282.6;
    }
}
// .circles:hover .circle-5 {
//     stroke-dasharray: 14.13 282.6;
// }


.circles {
    &.active .circle-10 {
        stroke-dasharray: 28.26 282.6;
    }
}
// .circles:hover .circle-10 {
//     stroke-dasharray: 28.26 282.6;
// }

.circles {
    &.active .circle-15 {
        stroke-dasharray: 42.39 282.6;
    }
}
// .circles:hover .circle-15 {
//     stroke-dasharray: 42.39 282.6;
// }

.circles {
    &.active .circle-20 {
        stroke-dasharray: 56.52 282.6;
    }
}
// .circles:hover .circle-20 {
//     stroke-dasharray: 56.52 282.6;
// }

.circles {
    &.active .circle-25 {
        stroke-dasharray: 70.65 282.6;
    }
}

.circles {
    &.active .circle-30 {
        stroke-dasharray: 84.78 282.6;
    }
}

.circles {
    &.active .circle-35 {
        stroke-dasharray: 98.91 282.6;
    }
}

.circles {
    &.active .circle-40 {
        stroke-dasharray: 113.04 282.6;
    }
}

.circles {
    &.active .circle-45 {
        stroke-dasharray: 127.17 282.6;
    }
}

.circles {
    &.active .circle-50 {
        stroke-dasharray: 141.3 282.6;
    }
}

.circles {
    &.active .circle-55 {
        stroke-dasharray: 155.43 282.6;
    }
}

.circles {
    &.active .circle-60 {
        stroke-dasharray: 169.56 282.6;
    }
}

.circles {
    &.active .circle-65 {
        stroke-dasharray: 183.69 282.6;
    }
}

.circles {
    &.active .circle-70 {
        stroke-dasharray: 197.82 282.6;
    }
}

.circles {
    &.active .circle-75 {
        stroke-dasharray: 211.95 282.6;
    }
}

.circles {
    &.active .circle-80 {
        stroke-dasharray: 226.08 282.6;
    }
}

// .circles:hover .circle-80 {
//     stroke-dasharray: 226.08 282.6;
// }

.circles {
    &.active .circle-85 {
        stroke-dasharray: 240.21 282.6;
    }
}

.circles {
    &.active .circle-90 {
        stroke-dasharray: 254.34 282.6;
    }
}

.circles {
    &.active .circle-95 {
        stroke-dasharray: 268.47 282.6;
    }
}

.circles {
    &.active .circle-100 {
        stroke-dasharray: 282.6 282.6;
    }
}